* {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
	display: flex;
	justify-content: center;
	align-items: center;
}
.outer-container{
	width: 95%; 
	height: 95%;
	display: grid;
	grid-template-columns: 1fr 5fr;
	grid-template-rows: 2fr 10fr;
	border-radius: 1.5em;
	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}
header{
	grid-column: span 2;
	background-color:lightgrey;
	color:black;
	padding: 10px;
	border-top-right-radius: 1.5em;
	border-top-left-radius: 1.5em;
}
.side-bar{
	background-color: grey;
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: start;
	gap: 40px;
	padding: 20px;
	border-bottom-left-radius: 1.5em;
}
.main-content{
	background-color:whitesmoke;
	border-bottom-right-radius: 1.5em;
	padding-top: 40px;
	padding-bottom: 40px;
	padding-left: 80px;
	padding-right: 80px;
	display: flex;
	flex-direction: column;
	gap: 5px;

}
.main-nav{
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: start;
	gap: 15px;
}
.main-nav-child{
	display: flex;
	gap: 10px;
	justify-content: baseline;
	align-items: center;
}
.main-nav-child svg{
	width: 10px;
	height: 10px;
}
header, .side-bar {
	padding: 20px;
}
.todo-div{
	width: 80%;
	height:7%;
	display: flex;
	justify-content: baseline;
	align-items: center;
	gap: 20px;
	padding: 20px;
	border-radius: 5px;
}
.todo-div button{
	height: 22px;
	width: 22px;
	border-radius: 50%;
	border-width: 2px;
	border-style: solid;
}
.todo-div:hover{
	background-color:lightgrey;
}
.todo-name{
	font-weight: 600;
	margin-right: 70%;
}
.add-button{
	width: 80%;
	height: 7%;
	display: flex;
	justify-content: baseline;
	align-items: center;
	padding: 10px;
	font-weight: 700;
	border-radius: 5px;
}
.add-button:hover{
	background-color: lightgrey;
}
.add-button svg{
	height: 70%;
	width: 5%;
}
